.rightside {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5.15vw;
    color:white;
  }
.rightside .logout {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
  }
.rightside .logout .logoutButton {
    padding: 0;
    margin: 0;
    background: black;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-left: 0.85vw;
    padding-right: 0.85vw;
    border: none;
    margin-left: 2vw;
    text-decoration: none;
  }
  
.rightside .notification {
    /* width: 12%; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
  }
  
.rightside .notificationNumber {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: relative;
    left: -4px;
    top: -13px;
    background-color: #5e77ff;
  }
  .rightside .notificationNumberhide {
   display :none
  }
.rightside .notificationNumber p {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 10px;
    margin: 0;
    padding: 0;
    margin-top: 2px;
  }
.rightside .profileImage {
    padding: 0;
    margin: 0;
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 0.75vw;
    margin-left: 1.5vw;
  }
.rightside .name {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Lato, Lato-Regular;
    font-weight: 400;
    text-align: left;
    line-height: 19px;
    margin-right: 0.5vw;
  }
.rightside .icon {
    padding: 0;
    margin: 0;
  }
  
